<div id="container" layout="column" layout-fill>
 <ng-include src="'shared/templates/toolbar.html'"></ng-include>
	<div layout="row">
		<md-content>
			<div id="landingSection">
				<section>
					<md-sidenav class="sidenavLanding" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
						<md-button class="sidenavLandingSelect" ng-click="gotoAnchor('homeSection')">
							<i class="material-icons">home</i>
						</md-button>
						<md-button class="sidenavLandingSelect" ng-click="gotoAnchor('developerResSection')">
							<i class="material-icons">build</i>
						</md-button>
						<md-button class="sidenavLandingSelect" ng-click="gotoAnchor('aboutUsSection')">
							<i class="material-icons">people</i>
						</md-button>
						<md-button class="sidenavLandingSelect" ng-click="gotoAnchor('faqsSection')">
							<i class="material-icons">help_outline</i>
						</md-button>
						<md-button class="sidenavLandingSelect">
							<i class="material-icons">face</i>
						</md-button>
					</md-sidenav>
				</section>
				<section>
					<md-toolbar flex layout="row" class="headerMenu" hide-xs>
						<h6 ng-click="gotoAnchor('homeSection')">WHAT IS SOJU</h6>
						<h6 ng-click="gotoAnchor('devResourcesSection')">RESOURCES</h6>
						<h6 ng-click="gotoAnchor('aboutUsSection')">ABOUT US</h6>
						<h6 ng-click="gotoAnchor('faqsSection')">FAQs</h6>
						<span flex></span>
						<h6>LOG IN</h6>
					</md-toolbar>
					<div layout="row" id="landingBanner" class="sectionContent">
						<div flex class="projectDescription">
							<h2 class="welcomeTitle">Build an application with CODESOJU</h2>
							<h4 class="welcomeContent">Lorem ipsum dolor sit amet, commodo rutrum nulla, mauris pellentesque et, amet nec tempus etiam praesent vestibulum vestibulum. Eros commodo et ante eget hac, sed feugiat commodo, turpis integer ut velit lorem in vel, cras iaculis est nec vestibulum, urna sed risus. Vitae quis magna potenti mauris sed, rutrum sodales ut, massa id in habitant eu in vehicula, vitae mi in, augue tinciduntue.</h4>
							<md-button aria-label="Get started" id="getStartedButton" href = "/home">Get started</md-button>
						</div>
						<div flex class="photoDescription">
						</div>
					</div>
				</section>
			</div>
			<section id="devResourcesSection">
				<div layout="row" layout-wrap class="sectionContent">
					<div flex class="devResourcesImage">
						<img alt="" src="images/graphic_developer_resources.png">
					</div>
					<div flex class="devResourcesDescription">
						<h2>Developer Resources</h2>
						<h4>Lorem ipsum dolor sit amet, commodo rutrum nulla, mauris pellentesque et, amet nec tempus etiam praesent vestibulum vestibulum. Eros commodo et ante eget hac, sed feugiat commodo, turpis integer ut velit lorem in vel, cras iaculis est nec vestibulum, urna sed risus. Vitae quis magna potenti mauris sed, rutrum sodales ut, massa id in habitant eu in vehicula, vitae mi in, augue tincidunt risus risus a diam erat.</h4>
						<h5 class="anchorScrollArrow">About us</h5>
						<i class="material-icons" ng-click="gotoAnchor('aboutUsSection')">keyboard_arrow_down</i>
					</div>
				</div>
			</section>
			<section id="aboutUsSection">
				<div layout="row" layout-wrap class="sectionContent">
					<div flex class="aboutUsDescription">
						<h2>About us</h2>
						<h4>Lorem ipsum dolor sit amet, commodo rutrum nulla, mauris pellentesque et, amet nec tempus etiam praesent vestibulum vestibulum. Eros commodo et ante eget hac, sed feugiat commodo, turpis integer ut velit lorem in vel, cras iaculis est nec vestibulum, urna sed risus. Vitae quis magna potenti mauris sed, rutrum sodales ut, massa id in habitant eu in vehicula, vitae mi in, augue tincidunt risus risus a diam erat.</h4>
						<h5 class="anchorScrollArrow">FAQs</h5>
						<i class="material-icons" ng-click="gotoAnchor('faqsSection')">keyboard_arrow_down</i>
					</div>
					<div flex class="aboutUsImage">
						<img alt="" src="images/graphic_about_us.png">
					</div>
				</div>
			</section>
			<section id="faqsSection">
				<div layout="row" layout-wrap class="sectionContent">
					<div flex class="faqsImage">
						<img alt="" src="images/graphic_faqs.png">
					</div>
					<div flex class="faqsDescription">
						<h2>FAQs</h2>
						<h4>Lorem ipsum dolor sit amet, commodo rutrum nulla, mauris pellentesque et, amet nec tempus etiam praesent vestibulum vestibulum.</h4>
						<span></span>
						<h4>Lorem ipsum dolor sit amet, commodo rutrum nulla, mauris pellentesque et, amet nec tempus etiam praesent vestibulum vestibulum. Eros commodo et ante eget hac, sed feugiat commodo, turpis integer ut velit lorem in vel, cras iaculis est nec vestibulum, urna sed risus.</h4>
						<span></span>
						<h4>Lorem ipsum dolor sit amet, commodo rutrum nulla, mauris pellentesque et, amet nec tempus etiam praesent vestibulum vestibulum.</h4>
						<span></span>
					</div>
				</div>
			</section>
			<ng-include src="'shared/templates/footer.html'"></ng-include>
		</md-content>
	</div>
</div>
