/*********************************************
  GENERAL
  ********************************************/
.sectionContent{
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#tabName > .md-button{
	color: white;
}
.anchorScrollArrow{
	margin-bottom: 0px;
}

#sidebarLanding{
    width: 100px;
    height: 330px;
    background-color: rgba(143, 186, 135, 0.69);
    color: white;
}

.landingMenuChoice{
	padding: 10px;
	width: 80px;
}
	
/*********************************************
  LANDING SECTION
  ********************************************/

#landingSection{
	opacity:0.85;
	background-image:linear-gradient(-180deg, #6B7E96 1%, #020e20 100%);
	padding: 0 0 30px 0;
}
#subheader{
	opacity:0.85;
    background-image:linear-gradient(-180deg, #4e6582 25%, #586980 100%);
}
#getStartedButton{
	border: 2px solid #B8E986;
	color: #B8E986;
	width: 184px;
	text-align: center;
	margin: 0px;
}
.welcomeContent{
	color: white;
}
.projectDescription {
	flex-basis: 50%;
	flex-grow: 0;
}
.photoDescription {
	flex-basis: 25%;
	flex-grow: 0;
}

/*********************************************
  DEV RESOURCES SECTION
  ********************************************/

.devResourcesDescription{
	flex-basis: 87%;
	flex-grow: 0;
	padding: 30px 0;
}

/*********************************************
  ABOUT US SECTION
  ********************************************/

#aboutUsSection{
	background:#d4d9de;
}
img#aboutUsSectionImg{
    padding: 30px 0;
    max-width: 100%;
}
.aboutUsDescription{
	flex-basis: 50%;
	flex-grow: 0;
	padding: 30px 0;
}
.aboutUsPhoto{
	flex-basis: 25%;
	flex-grow: 0;
}

/*********************************************
  FAQs SECTION
  ********************************************/

.FAQs{
	flex-basis: 87%;
	flex-grow: 0;
	padding: 30px 0;
}

/*********************************************
  MEDIA QUERIES (MOBILE)
  ********************************************/

@media only screen and (max-width: 480px) {
	.sectionContent {
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
	}
	#landingSection{
		padding: 0;
	}
	#homeSection{
		flex-basis: 67%;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.projectDescription, .devResourcesDescription, .FAQs, .aboutUsDescription {
		padding: 0 30px;
	}
	img#aboutUsSectionImg{
		padding: 30px;
		max-width: 100%
	}
	#footer{
		padding: 0px;
	}
	 #addressFooter > h6{
		text-align: center;
	}
}
