<div layout="column" layout-fill>
	<ng-include src="'shared/templates/toolbar.html'"></ng-include>
	<section layout="row" flex>
		<ng-include src="'shared/templates/sidenav.html'"></ng-include>
		<section>
			<div id="containerUserProfile" layout="column" layout-fill>
				<md-content layout-padding id="userProfileForm">
					<h6 id="myProfileTitle" class="redTitle">My Profile</h6>
					<form name="userProfileForm">
						<md-input-container class="md-block inputUserProfileForm">
							<label>User Name</label>
							<input required name="userName" ng-model="personalInfo.userName">
							<div ng-messages="userProfileForm.userName.$error">
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
						<md-datepicker ng-model="personalInfo.birthday" md-placeholder="Birthday" class="ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid ng-touched" tabindex="-1" aria-invalid="false" style="">
							<button class="md-datepicker-button md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" tabindex="-1" aria-hidden="true" ng-click="ctrl.openCalendarPane($event)"><i class="material-icons">date_range</i></button>
							<div class="md-datepicker-input-container" ng-class="{'md-datepicker-focused': ctrl.isFocused}">
								<input class="md-datepicker-input" aria-haspopup="true" ng-focus="ctrl.setFocused(true)" ng-blur="ctrl.setFocused(false)" placeholder="Birthday" size="3">
								<button class="md-datepicker-triangle-button md-icon-button md-button" type="button" ng-transclude="" md-no-ink="" ng-click="ctrl.openCalendarPane($event)" aria-label="Open calendar">
									<div class="md-datepicker-expand-triangle ng-scope"></div>
								</button>
							</div>
							<div class="md-datepicker-calendar-pane md-whiteframe-z1" id="md-date-pane119">
								<div class="md-datepicker-input-mask">
									<div class="md-datepicker-input-mask-opaque"></div>
								</div>
								<div class="md-datepicker-calendar"></div>
							</div>
						</md-datepicker>
						<md-input-container class="md-block inputUserProfileForm">
							<label>Email</label>
							<input required type="email" name="userEmail" ng-model="personalInfo.email"
								minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="userProfileForm.userEmail.$error" role="alert">
								<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
									Your email must be between 10 and 100 characters long and should be a valid email address.
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block flex-gt-sm md-input-has-value inputUserProfileForm" flex-gt-sm="">
							<label>Gender</label>
							<md-select ng-model="personalInfo.gender" class="ng-pristine ng-valid ng-empty ng-touched" tabindex="0" aria-disabled="false" role="listbox" aria-expanded="false" aria-multiselectable="false" aria-invalid="false">
								<md-select-value class="_md-select-value">
									<span>
										<div class="_md-text ng-binding">
											<md-option value="male">Male</md-option>
											<md-option value="female">Female</md-option>
										</div>
									</span>
									<span class="_md-select-icon" aria-hidden="true"></span>
								</md-select-value>
							</md-select>
						</md-input-container>
						<md-input-container class="md-block flex-gt-sm md-input-has-value inputUserProfileForm" flex-gt-sm="">
							<label>Account Type</label>
							<md-select ng-model="accountInfo.account_type" class="ng-pristine ng-valid ng-empty ng-touched" tabindex="0" aria-disabled="false" role="listbox" aria-expanded="false" aria-multiselectable="false" aria-invalid="false">
								<md-select-value class="_md-select-value">
									<span>
										<div class="_md-text ng-binding">
											<md-option value="retirement">Retirement</md-option>
											<md-option value="brokerage">Brokerage</md-option>
										</div>
									</span>
									<span class="_md-select-icon" aria-hidden="true"></span>
								</md-select-value>
							</md-select>
						</md-input-container>
					</form>
				</md-content>
			</div>
		</section>
	</section>
	<ng-include src="'shared/templates/footer.html'"></ng-include>
</div>