#userProfileForm{
	padding: 50px;
}
#myProfileTitle{
	margin: 0px;
	font-family:HelveticaNeue-Medium;
	font-size:18px;
	letter-spacing:1.12px;
	line-height:19px;
}
.inputUserProfileForm{
	width: 230px;
}
@media only screen and (max-width: 480px) {
	#userProfileForm{
		padding: 30px;
	}
}